<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--<transactionManager type="JDBC" />-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="com.mysql.jdbc.Driver" />-->
                <!--<property name="url" value="jdbc:mysql://localhost:3306/mysql" />-->
                <!--<property name="username" value="root" />-->
                <!--<property name="password" value="123456" />-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->

    <mappers>
        <!-- 通过package元素将会把指定包下面的所有Mapper接口进行注册 -->
        <package name="com.lynch.mapper"/>
        <!-- 通过mapper元素的resource属性可以指定一个相对于类路径的Mapper.xml文件 -->
        <!--<mapper resource="com/tiantian/mybatis/mapper/UserMapper.xml"/>-->
        <!--<mapper class="com.lynch.mapper.MultiplePriceMapper"/>-->
        <!-- 通过mapper元素的url属性可以指定一个通过URL请求道的Mapper.xml文件 -->
        <!--<mapper url="file:///E:/UserMapper.xml"/>-->
    </mappers>
</configuration>

